<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<form action="/sign-up">
            <input class="btn btn-info mb-3" type="submit" value="Sign Up">
</form>
<form action="/login">
            <input class="btn btn-primary" type="submit" value="LogIn">
</form>